.catalog__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 989px) {
  .catalog__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .catalog__wrapper {
    grid-template-columns: 1fr;
  }
}
